<md-content layout-align="center" flex class="md-default-theme" ng-cloak>
    <div class="atc" ng-if="!error">
        <md-subheader class="md-no-sticky md-accent" ng-cloak>
            <div layout="column" flex class"fill-height">
                <atc-grades name="PROBLEMS" route="p"></atc-grades>
                <atc-grades name="TODO" route="o"></atc-grades>
                <atc-grades name="PROJECTS" route="j"></atc-grades>
                <atc-grades name="TICKS" route="t"></atc-grades>
            </div>

            <h3>Search Commands</h3>
            <md-divider></md-divider><br>
            <table cellpadding="0" cellspacing="6">
                <tbody>
                    <tr><td><pre>&nbsp;&nbsp;<strong>/</strong>&nbsp;&nbsp;</pre></td><td>Activate the search bar if it's not currently focused.</td></tr>
                    <tr><td><pre>&nbsp;&nbsp;<strong>.b | !b</strong>&nbsp;&nbsp;</pre></td><td>Show|Hide benchmark problems.</td></tr>
                    <tr><td><pre>&nbsp;&nbsp;<strong>.t | !t</strong>&nbsp;&nbsp;</pre></td><td>Show|Hide ticked problems.</td></tr>
                    <tr><td><pre>&nbsp;&nbsp;<strong>.p | !p</strong>&nbsp;&nbsp;</pre></td><td>Show|Hide project problems.</td></tr>
                    <tr><td><pre>&nbsp;&nbsp;<strong>.o | !o</strong>&nbsp;&nbsp;</pre></td><td>Show|Hide todo problems.</td></tr>
                    <tr><td><pre>&nbsp;&nbsp;<strong>.e | !e</strong>&nbsp;&nbsp;</pre></td><td>Show|Hide exiled problems.</td></tr>
                    <tr><td><pre>&nbsp;&nbsp;<strong>.u | !u</strong>&nbsp;&nbsp;</pre></td><td>Show|Hide upgraded problems.</td></tr>
                    <tr><td><pre>&nbsp;&nbsp;<strong>.d | !d</strong>&nbsp;&nbsp;</pre></td><td>Show|Hide downgraded problems.</td></tr>
                    <tr><td><pre>&nbsp;&nbsp;<strong>.h | h= $hold(,$hold)*</strong>&nbsp;&nbsp;</pre></td><td>Show|Hide problems containing $hold, e.g. h=e9 or h=e9,d18.</td></tr>
                    <tr><td><pre>&nbsp;&nbsp;<strong>!h | h!= $hold(,$hold)*</strong>&nbsp;&nbsp;</pre></td><td>Show|Hide problems not containing $hold, e.g. h!=h14 or h!=h14,h18.</td></tr>
                    <tr><td><pre>&nbsp;&nbsp;<strong>.r | !r $setter</strong>&nbsp;&nbsp;</pre></td><td>Show|Hide problems set by $setter.</td></tr>
                    <tr><td><pre>&nbsp;&nbsp;<strong>.n</strong>&nbsp;&nbsp;</pre></td><td>Search setters instead of problems.</td></tr>
                    <tr><td><pre>&nbsp;&nbsp;<strong>. | = $grade</strong>&nbsp;&nbsp;</pre></td><td>Show problems matching $grade, e.g. @v5 or =v5.</td>
                    <tr><td><pre>&nbsp;&nbsp;<strong>..$grade</strong>&nbsp;&nbsp;</pre></td><td>Show problems no harder than $grade.</td>
                    <tr><td><pre>&nbsp;&nbsp;<strong>$grade..</strong>&nbsp;&nbsp;</pre></td><td>Show problems at least as hard as the $grade.</td>
                    <tr><td><pre>&nbsp;&nbsp;<strong>.a | a= $ascents</strong>&nbsp;&nbsp;</pre></td><td>Show problems with # of $ascents.</td>
                    <tr><td><pre>&nbsp;&nbsp;<strong>..a$ascents</strong>&nbsp;&nbsp;</pre></td><td>Show problems with fewer than # $ascents.</td>
                    <tr><td><pre>&nbsp;&nbsp;<strong>a$ascents..</strong>&nbsp;&nbsp;</pre></td><td>Show problems with at least # $ascents.</td>
                    <tr><td><pre>&nbsp;&nbsp;<strong>.s | s= $stars</strong>&nbsp;&nbsp;</pre></td><td>Show problems with # of $stars.</td>
                    <tr><td><pre>&nbsp;&nbsp;<strong>..s$stars</strong>&nbsp;&nbsp;</pre></td><td>Show problems with fewer than # $stars.</td>
                    <tr><td><pre>&nbsp;&nbsp;<strong>s$stars..</strong>&nbsp;&nbsp;</pre></td><td>Show problems with at least # $stars.</td>
                </tbody>
            </table>

            <h3>Parameterized Commands</h3>
            <md-divider></md-divider><br>
            <table cellpadding="0" cellspacing="6">
                <tbody>
                    <tr><td><pre>&nbsp;&nbsp;<strong>?nuke=tick</strong>&nbsp;&nbsp;</pre></td><td>Delete tick from problem, e.g. <i>https://moonZZZZ.zombull.xyz/hard-times?nuke=tick</i>.</td></tr>
                    <tr><td><pre>&nbsp;&nbsp;<strong>?page=$number</strong>&nbsp;&nbsp;</pre></td><td>Jump to page, e.g. to reset problems index <i>https://moonZZZZ.zombull.xyz/p/all?page=0</i>.</td></tr>
                </tbody>
            </table>
        </md-subheader>

        <br><br><br><br><br><br>
    </div>
    <div class="layout" ng-if="error" ng-include="'static/html/error.html'"></div>
</md-content>