<md-content layout="row" layout-xs="column" layout-align="center" flex class="md-default-theme" ng-cloak>
    <div ng-if="!error" id="problemCanvasContainer" style="padding-top:20px;">
        <canvas id="problemCanvas" width="427" height="657"></canvas>
    </div>
    <span flex ng-if="!error" show-gt-sm></span>
    <div ng-if="problem && !error" style="padding-top:15px;min-width:360px;">
        <md-content layout="row" layout-align="center" ng-cloak>
            <md-button class="md-raised md-accent" ng-disabled="i==0" ng-click="ppage($event)">&#x2B9C;</md-button>
            <md-button class="md-raised md-accent" ng-disabled="i==0" ng-click="prev($event)">&#x2B98;</md-button>
            <md-button class="md-raised md-accent big" ng-click="rand($event)">&#x2618;</md-button>
            <md-button class="md-raised md-accent" ng-disabled="i==count-1" ng-click="next($event)">&#x2B9A;</md-button>
            <md-button class="md-raised md-accent" ng-disabled="i==count-1" ng-click="npage($event)">&#x2B9E;</md-button>
        </md-content>

        <problem-info problem="problem" setter="setter"></problem-info>

        <md-subheader class="md-no-sticky md-accent" ng-if="list" ng-cloak>
            <h2><div>{{::title}} ({{::count}})</div></h2>
            <md-divider></md-divider><br>
            <div>
                <div ng-repeat="p in list track by p.u" ng-bind-html="p | linkify"></div>
            </div>
        </md-subheader>
    </div>
    <div class="layout" ng-if="error" ng-include="'static/html/error.html'"></div>
</md-content>