<md-content layout="row" layout-xs="column" layout-align="center" flex class="md-default-theme" ng-cloak>
    <div flex ng-if="!error" style="padding-top:20px;">
        <canvas id="problemCanvas" width="427" height="657"></canvas>
    </div>
    <span flex ng-if="!error" hide-xs></span>
    <div flex ng-if="problem && !error" style="padding-top:15px;min-width:360px;">
        <md-content ng-if="!problem.t" layout="row" layout-align="center" ng-cloak>
            <md-button class="md-raised md-accent" ng-disabled="problem.e" ng-click="attempt($event)">{{attempts}}</md-button>
            <md-button class="md-raised md-accent" ng-disabled="problem.e" ng-click="session($event)">{{sessions}}</md-button>
            <md-button class="md-raised md-accent" ng-disabled="problem.e" ng-click="tick($event)">&#x2694;</md-button>
            <md-button class="md-raised md-accent" ng-disabled="problem.e" ng-click="exile($event)">&#x2620;</md-button>
            <md-button class="md-raised md-accent" ng-click="nuke($event)">&#x2622;</md-button>
        </md-content>

        <problem-info problem="problem" setter="setter"></problem-info>

        <md-subheader class="md-no-sticky md-accent" ng-cloak>
            <h2><a  class="inv" ng-href="{{::setter.u}}">{{::setter.n}}<span ng-if="setter.k">&nbsp;({{::setter.k}})</span></a></h2>
            <md-divider></md-divider><br>
            <div>
                <div ng-repeat="p in ::suggested.setter track by p.u" ng-bind-html="::p | linkify"></div>
            </div>
        </md-subheader>

        <md-subheader class="md-no-sticky md-accent" ng-cloak>
            <h2><a class="inv" ng-href="/p/{{::problem.g}}">{{::problem.g}}s</a></h2>
            <md-divider></md-divider><br>
            <div>
                <div ng-repeat="p in ::suggested.grade track by p.u" ng-bind-html="::p | linkify"></div>
            </div>
        </md-subheader>
    </div>
    <div class="layout" ng-if="error" ng-include="'static/html/error.html'"></div>
</md-content>