<md-subheader class="md-no-sticky md-accent" ng-cloak>
    <h2 ng-if="!$ctrl.problem.t"><a class="inv" ng-href="{{$ctrl.problem.u}}"><span ng-if="$ctrl.problem.b">&#x272a;&nbsp;</span>{{$ctrl.problem.n}}&nbsp;-&nbsp;{{$ctrl.problem.g}}</a></h2>
    <h2 ng-if="$ctrl.problem.t"><a class="inv" ng-href="{{$ctrl.problem.u}}">&#x2739;&nbsp;<span ng-if="$ctrl.problem.b">&#x272a;&nbsp;</span>{{$ctrl.problem.n}}&nbsp;-&nbsp;{{$ctrl.problem.t.g}}</a></h2>
    <md-divider></md-divider><br>

    <table cellpadding="0" cellspacing="0">
        <tbody>
            <tr><td valign="top">Setter</td><td ng-bind-html="$ctrl.setter | linkify"></td></tr>
            <tr ng-if="$ctrl.problem.d"><td valign="top">Date</td><td>{{$ctrl.problem.d | date:'LLLL dd, yyyy'}}</td></tr>
            <tr ng-if="$ctrl.problem.s"><td valign="top">Stars</td><td><span ng-repeat="s in [].constructor($ctrl.problem.s) track by $index">&#x2605;</span></td></tr>
            <tr ng-if="!$ctrl.problem.s"><td valign="top">Stars</td><td>&#x2620;</td></tr>
            <tr ng-if="$ctrl.problem.a"><td valign="top">Ascents</td><td>{{$ctrl.problem.a}}</td></tr>
            <tr ng-if="!$ctrl.problem.a"><td valign="top">Ascents</td><td><span>&#x2620;</span></td></tr>
            <tr ng-if="$ctrl.problem.t"><td valign="top">Ticked</td><td>{{$ctrl.problem.t.d | date:'LLLL dd, yyyy'}}</td></tr>
            <tr ng-if="$ctrl.problem.t"><td valign="top">Attempts</td><td>{{$ctrl.problem.t.a}}</td></tr>
            <tr ng-if="$ctrl.problem.t && $ctrl.problem.t.e"><td valign="top">Sessions</td><td>{{$ctrl.problem.t.e}}</td></tr>
        </tbody>
    </table>
</md-subheader>
